# QUESTION NUMBER 1

In [43]:
#Add two numbers
a=10
b=5
c=a+b
print(c)

15

In [42]:
#Add two numbers by function
def add(a,b):
    return a+b

In [2]:
add(2,3)

5

In [4]:
#maximum of two numbers
a=int(input("enter a:"))
b=int(input("enter b:"))
if a==b:
    print("both the numbers are equal:")
elif a>b:
    print("maximum number is:",a)
else:
    print("maximum number is:",b)

enter a:4
enter b:5
maximum number is: 5

In [5]:
#maximum number by function
def maxx(a,b):
    if a==b:
        print("both numbers are equal")
    elif a>b:
        print("maximum number is:",a)
    else:
        print("maximum number is:",b)

In [6]:
maxx(4,5)

maximum number is: 5

In [9]:
#maximum from list
a=[1,2,4,6,55,7,9,10,66,0]
max1=a[0]
for i in range(0,len(a)):
    if a[i]>max1:
        max1=a[i]
print("maximum number from list is:",max1)

maximum number from list is: 66

In [10]:
#maximum from list by function
def max1(a):
    max1=a[0]
    for i in range(0,len(a)):
        if a[i]>max1:
            max1=a[i]
        
    print("maximum number from list is:",max1)

In [11]:
max1([2,4,6,7,10,22,0,5])

maximum number from list is: 22

In [12]:
#factorial
n=int(input("enter n:"))
fact=1
for i in range(1,n+1):
    fact=fact*i
print(fact)

enter n:5
120

In [13]:
#factorial by recursion
def fact(n):
    if n==0 or n==1:
        return 1
    if n<0:
        print("please enter whole number")
    if n>0:
        return n*fact(n-1)

In [14]:
fact(5)

120

In [15]:
#simple interest
p=float(input("enter principle amount"))
r=float(input("enter rate of interest:"))
t=float(input("enter time period (in years):"))
si=p*r*t/100
print("simple interest:",si)

enter principle amount1000
enter rate of interest:10
enter time period (in years):1
simple interest: 100.0

In [16]:
#simple interest by function
def si(p,r,t):
    si=p*r*t/100
    print("simple interest:",si)

In [17]:
si(1000,10,1)

simple interest: 100.0

In [18]:
#compound interest
p=float(input("enter the principal amount:"))
r=float(input("enter the rate of interest:"))
n=int(input("enter number of times interest applied:"))
t=float(input("enter time period:"))
rate=r/100
c=p*(1+rate/n)**(n*t)
print("compound interest:",c)

enter the principal amount:1000
enter the rate of interest:10
enter number of times interest applied:2
enter time period:2
compound interest: 1215.5062500000001

In [11]:
#armstrong number (153=1^3+5^3+3^3=153)
def arm(a):
    b=len(str(a))
    asum=0
    c=a
    for i in range(0,b):
        d=a%10
        asum+=d**b
        a=a//10
    print(asum)
    if asum==c:
        print("yes",c,"is armstrong")
    else:
        print("no",c,"is not armstrong")

In [14]:
arm(1234)

354
no 1234 is not armstrong

In [1]:
#sum of n natural numbers
def sum3(n):
    nsum=0
    for i in range(0,n+1):
        nsum=nsum+i
    return nsum

15

In [3]:
sum3(6)

21

In [20]:
#sum of n natural numbers by recursion function
def nsum(n):
    if n==1:
        return 1
    if n<0:
        print("please enter natural number...")
    if n>1:
        return n+nsum(n-1)

In [21]:
nsum(5)

15

In [22]:
#cube sum of first n natural numbers
n=int(input("enter n:"))
csum=0
for i in range(0,n+1):
    csum=csum+(i**3)
print("cube sum:",csum)

enter n:3
cube sum: 36

In [1]:
#cube sum of n natural number by recursion function
def csum(n):
    if n==1:
        return 1
    if n<1:
        print("please enter a natural number...")
    else:
        return (n**3)+csum(n-1)

In [2]:
csum(5)

225

In [1]:
#linear search
a=[1,4,6,8,4,9,10]
b=int(input("enter number you want to search:"))
for i in range(0,len(a)):
    if a[i]==b:
        print("found!")
        break
else:
    print("not found!")

enter number you want to search:3
not found!

In [2]:
#linear search by function
def ls(a,b):
    for i in a:
        if i==b:
            print("found!")
            break
    else:
        print("not found!")

In [4]:
ls([2,4,6,7,9,1,0,12],19)

not found!

In [26]:
#append vs extend

a=[1,2,3,4]
b=[9,8,7,6]

a.extend(b)
print(a)

[1, 2, 3, 4, 9, 8, 7, 6]

# QUESTION NUMBER 2

In [45]:
a="Nitin"
a=a.lower()
b=[]
c=[]
for i in a:
    b.append(i)
print(b)
for i in range(len(a)-1,-1,-1):
    c.append(a[i])
print(c)


if "".join(b)== "".join(c):
    print("palindrome found")
else:
    print("palindrome not found")

['n', 'i', 't', 'i', 'n']
['n', 'i', 't', 'i', 'n']
palindrome found

In [34]:
a="mukesh"
for i in range(len(a)-1,-1,-1):
    print(a[i])

h
s
e
k
u
m

In [43]:
a="mukesh"
b=[]
for i in a:
    b.append(i)
print(b)
c="".join(b)
print(c)

['m', 'u', 'k', 'e', 's', 'h']
mukesh

In [28]:
#palindrome
a=input("enter to check palindrome or not:")
b=a[::-1]
if a==b:
    print(a,"is palindrome")
else:
    print(a,"is not a palindrome")

enter to check palindrome or not:aba
aba is palindrome

In [29]:
#palindrome with function
def pal(a):
    b=a[::-1]
    if a==b:
        print(a,"is palindrome")
    else:
        print(a,"is not palindrome")

In [31]:
pal('12121')

12121 is palindrome

In [7]:
def fibonaci(n):
    if n==0 or n==1:
        return 1
    else:
        return fibonaci(n-1)+fibonaci(n-2)

fibonaci(30)

1346269

In [32]:
#fabonacci series
n=int(input("enter n:"))
first=0
second=1
print(first)
print(second)
for i in range(2,n+1):
    third=first+second
    first,second=second,third
    print(third)

enter n:5
0
1
1
2
3
5

In [8]:
#checking a number is prime or not by function
def prime(n):
    if n>0:
        for i in range(2,n):
            if n%i==0:
                print(n,"is not prime")
                break 
        else:
            print(n,"is prime")
    else:
        print("please enter positive number...")

In [11]:
prime(2)

2 is prime

In [92]:
#sorting with function
a=[1,5,0,7,9,12,34,98]
a.sort()
print(a)

[0, 1, 5, 7, 9, 12, 34, 98]

In [119]:
#sorting without function
a=[5,4,3,10,2,1]
b=0
for i in range(0,len(a)):
    for j in range(i+1,len(a)):
        if a[i]>a[j]:
            b=a[i]
            a[i]=a[j]
            a[j]=b
print(a)

[1, 2, 3, 4, 5, 10]

In [392]:
#binary search
def bsearch(a,b):
    a.sort()
    print(a)
    lmin=0
    lmax=len(a)
    mid=(lmin+lmax)//2
    #print("mid",a[mid])
    if b==a[mid]:
        print(b,"found")
    elif b<a[mid]:
        for i in range(lmin,mid):
            if a[i]==b:
                print(b,'found')
                break
        else:
            print(b,"not found!")
    elif b>a[mid]:
        for i in range(mid+1,len(a)):
            if a[i]==b:
                print(b,"found")
                break
        else:
            print(b,"not found!")
            #    break

In [394]:
bsearch([11,23,34,54,43,18,100],54)

[11, 18, 23, 34, 43, 54, 100]
54 found

# QUESTION NUMBER 3

In [5]:
#reverse the string
def rev(a):
    rev=a[::-1]
    print("reverse is" ,rev)

In [8]:
rev("abcd")

reverse is dcba

In [358]:
#fabonacci series with iterative method
def fabo(n):
    f,s=1,1
    print(f)
    print(s)
    for i in range(2,n):
        t=f+s
        f,s=s,t
        print(t)

In [359]:
fabo(5)

1
1
2
3
5

In [356]:
#fabonacci series with recursion function
def fabo(n):
    if n==0:
        return 0
    if n==1:
        return 1
    if n>1:
        return fabo(n-1)+fabo(n-2)
    #for i in range(n):
     #   print(fabo(i))

In [357]:
fabo(5)

5

In [51]:
#palindrome or not without recursion
def pal(n):
    b=''
    for i in range(-1,-len(n)-1,-1):
        b=b+n[i]
    if n==b:
        print(n,"is palindrome")
    else:
        print(n,"is not palindrome ")

In [52]:
pal('hello')

hello is not palindrome

In [53]:
#palindrome or not without iteration
def pal(n):
    rev=n[::-1]
    if n==rev:
        print(n,"is palindrome")
    else:
        print(n,"is not palindrome")

In [55]:
pal("12121")

12121 is palindrome

In [3]:
#greatest amoung three numbers
def great(a,b,c):
    if a==b and b==c:
        print("numbers are same...")
    elif a>b and a>c:
        print(a,"is greatest")
    elif b>a and b>c:
        print(b,"is greatest")
    else:
        print(c,"is greatest")

In [6]:
great(8,7,10)

10 is greatest

In [9]:
#check binary or not
def binary(a):
    b=set(a)
    p={'1','0'}
    if b==p :#or b=={0} or b=={1} :
        print("yes binary")
    else:
        print("not a binary")

In [13]:
binary('10100010121010')

not a binary

In [33]:
#sum of digits of a number using recursion
n=int(input("enter n:"))
dsum=0
b=len(str(n))
for i in range(0,b):
    c=n%10
    dsum=dsum+c
    n=n//10
print(dsum)

enter n:23
5

In [3]:
#swap two numbers without third variable
def swapp(a,b):
    a=a+b
    b=a-b
    a=a-b
    print("a:",a)
    print("b:",b)

In [4]:
swapp(3,5)

a: 5
b: 3

In [39]:
#swap two numbers using third variable
def swapp(a,b):
    temp=a
    a=b
    b=temp
    print(" a and b :",a,",",b)

In [40]:
swapp(4,5)

 a and b : 5 , 4

In [11]:
#prime factors 
def fac(a):
    b=[]
    c=2
    for i in range(c,a):
        if a%c==0:
            b.append(c)
            a=a/c
        else:
            c=c+1
    else:
        b.append(a)
    return b

In [12]:
fac(20)

[2, 2, 5, 1.0]

In [5]:
#add two numbers without arithmetic operator
def add1(a,b):
    c=-a-b
    print(-c)

In [2]:
add1(5,5)

10

In [96]:
#number is perfect or not
def per(a):
    b=[]
    d=0
    for i in range(1,a):
        if a%i==0:
            b.append(i)
            d=d+i
         #print("sum1",d)    
        
        
    else:
        b.append(a)
    
    if d==a:
            print("number is perfect")
    else:
            print("number is not perfect")
    return b

In [100]:
per(28)

number is perfect

[1, 2, 4, 7, 14, 28]

In [11]:
#remove nth charater
def r(a,b):
    for i in range(0,len(a)):
        if a[i]==b:
            continue
        print(a[i],end='')

In [13]:
r("vaishu",'v')

aishu

In [23]:
#count occurance of a given character
def countt(a,b):
    count1=0
    for i in range(0,len(a)):
        if a[i]==b:
            count1=count1+1
    print("count of",b,":",count1)

In [26]:
countt("apple","p")

count of p : 2

In [10]:
#check two string is anagram
def ana(a,b):
    print(sorted(a),sorted(b))
    if sorted(a)==sorted(b):
        print(a,"and",b,"are anagram...")
    else:
        print(a,"and",b,"are not anagram")

In [11]:
ana("tada","data")

['a', 'a', 'd', 't'] ['a', 'a', 'd', 't']
tada and data are anagram...

In [26]:
#number is missing from array of 1-10 number

def miss(c):
    a=int((10*(10+1))/2)
    
    b=sum(c)
    
    return a-b

In [27]:
array=[1,2,3,4,5,7,8,9,10]

miss(array)

6

In [1]:
#find all pairs in array of integers whose sum is equal to n
def tada(a,b):
    for i in range(0,len(a)):
        for j in range(0,len(a)):
            summ=i+j
            if summ==b:
                print(summ,"(",i,",",j,")")

In [2]:
tada([6,5,4,3,2,1],5)

5 ( 0 , 5 )
5 ( 1 , 4 )
5 ( 2 , 3 )
5 ( 3 , 2 )
5 ( 4 , 1 )
5 ( 5 , 0 )

In [159]:
def ls(a,b):
   
    for i in range(0,len(a)):
        c=a[0]
        if a[i]+c==b:
            c=c+1
            print("(",c,",",i,")")
            
            
    #else:
     #   print("not found!")

In [160]:
ls([1,2,3,4,5,6],6)

( 2 , 4 )

In [381]:
# compare two array is equal in size or not
def asize(a,b):
    if len(a)==len(b):
        print("they are equal...")
    else:
        print("they are not equal")

In [385]:
asize([1,2,3,4],[5,6,7,8,9])

they are not equal

In [21]:
#find largest and smallest number in array.
def find(a):
    maxx=a[0]
    minn=a[0]
    for i in a:
        if i>maxx:
            maxx=i        
    print("largest",maxx)
    for i in a:
        if i<minn:
            minn=i
    print("smallest",minn)

In [22]:
find([11,23,54,33,0,1,88])

largest 88
smallest 0

In [9]:
# find second highest number in an integer array
def high(a):
    b=0
    for i in range(0,len(a)):
        for j in range(i+1,len(a)):
            if a[i]>a[j]:
                b=a[i]
                a[i]=a[j]
                a[j]=b
    print(a)
    print("second highest",a[-2])

In [10]:
high([5,7,9,2,1,0,10])

[0, 1, 2, 5, 7, 9, 10]
second highest 9

In [3]:
#find top two maximum number in array
def top2(a):
    b=0
    for i in range(0,len(a)):
        for j in range(i+1,len(a)):
            if a[i]>a[j]:
                b=a[i]
                a[i]=a[j]
                a[j]=b
    print(a)        
       #print(b)
    print("top two:",a[-2],"and",a[-1])

In [4]:
top2([4,6,8,9,10,34,11,4])

[4, 4, 6, 8, 9, 10, 11, 34]
top two: 11 and 34

In [141]:
#remove duplicate elements from array
def dup(a):
    b=[]
    for i in  a:
        if i in b:
            pass
        else:
            b.append(i)
    print(b)

In [142]:
dup([1,2,3,4,4,1,5,5])

[1, 2, 3, 4, 5]

# EXTRA QUESTIONS

In [122]:
#find length of the string
a=input("enter a:")
b=0
for i in a:
    b=b+1
print(b)

enter a:HELLO
5

In [123]:
#remove nth charater
def c(a,b):
#a='nishesh'
#b=input("enter character to remove:")
    for i in range(0,len(a)):
        if a[i]==b:
            continue
        else:
            print(a[i],end='')

In [125]:
c('apple','p')

ale

In [1]:
def palindrome(a):
    b=''
    for i in range(len(a)-1,-1,-1):
        b=b+a[i]
    if b==a:
        print("its a palindrome")
    else:
        print("its not a palindrome")

In [4]:
a="nitin"
palindrome(a)

its a palindrome